[submodule "third_party/deps/gtest-src"]
	path = third_party/deps/gtest-src
	url = https://github.com/google/googletest.git
[submodule "third_party/deps/cxxopts-src"]
	path = third_party/deps/cxxopts-src
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/deps/sdl2-src"]
	path = third_party/deps/sdl2-src
	url = https://github.com/SDL-mirror/SDL.git
[submodule "third_party/deps/imgui-src"]
	path = third_party/deps/imgui-src
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/deps/gl3w-src"]
	path = third_party/deps/gl3w-src
	url = https://github.com/skaslev/gl3w.git
[submodule "third_party/third_party/deps/imgui-src"]
	path = third_party/third_party/deps/imgui-src
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/third_party/deps/sdl2-src"]
	path = third_party/third_party/deps/sdl2-src
	url = https://github.com/SDL-mirror/SDL.git
[submodule "third_party/third_party/deps/gtest-src"]
	path = third_party/third_party/deps/gtest-src
	url = https://github.com/google/googletest.git
[submodule "third_party/third_party/deps/cxxopts-src"]
	path = third_party/third_party/deps/cxxopts-src
	url = https://github.com/jarro2783/cxxopts
